
.header{
    background-color: rgba(132, 132, 130, 0.39);
    padding: 5px;
    height: auto;
    display: flex;
    justify-content: center;
}

#ironMailTitle{
    font-family: 'Copperplate';
    font-size: 30px;
    -webkit-text-stroke: 1px black;
}

.title{
    width: 80%;
    align-self: center;
}

.mainpage{
    height: 80vh;
}

.login{
    padding: 5px;
    border-radius: 2px;
    background-color: rgba(0, 0, 139, 0.19);
    width: 30%;
    justify-content: center;
    float: right;
    border: 1px black solid;
}

.centered{
    color: black;
    font-size: 18px;
    text-align: center;
}

.inline{
    display: inline;
}

input{
    padding: 5px;
}

body{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;
    background: rgba(115, 31, 185, 0.4);
    border-radius: 5px;
}
button:hover{
    background: rgba(115, 31, 185, 0.25);
}

.mainpage {
    background-color: rgba(0, 0, 0, 0.07);
    display: flex;
    padding: 5px;
}

.signup{
    padding: 5px;
    float: left;
    align-text: center;
    width: 40%;
}

.features{
    padding: 5px;
    float: right;
    flex-grow: 1;
    width: 60%;
}

.featuresList{
    display: block;
}

div {
    color: steelblue;
}

.featuresList, .tutorial, .signup{
    font-family: 'Copperplate Gothic Light';
    font-size: 20px;
    color: black;
}

li{
    font-family: 'Avant Garde';
    font-size: 18px;
    color: black;
}

iframe{
    height: calc(50vh - 30px);
}

.none{
    all: initial;
}